@import url('https://fonts.googleapis.com/css2?family=Anton&family=BIZ+UDGothic&family=Barlow+Semi+Condensed:wght@200&family=Bebas+Neue&family=Cairo&family=Coiny&family=Fira+Sans&family=Fjalla+One&family=Josefin+Sans&family=Kanit&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Lobster&family=Oswald&family=Quicksand:wght@300;400&family=Rajdhani:wght@300&family=Roboto+Condensed:wght@300;400&family=Tapestry&family=Titan+One&family=Titillium+Web:wght@300&family=Ubuntu&display=swap');
body{    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
}
.topmenu{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.image1 img{
    width:170px; 
    height:37px;
}
.image1 h3{
    font-family:  'Great Vibes', cursive;
    font-size: 1.9rem;
    z-index: 2;
    color: #fff;
}
.login{
    border-radius: 18px;
    border: 2px solid #fff;
    padding: 2px 13px 6px 13px;
    line-height: 43px;
    background: #fff;
    text-align: center;
    margin: 0px 6px;
    transition: 0.3s linear; 
}
.login a{
    letter-spacing: 0.6px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(252, 38, 38);
    transition: 0.3s linear; 
}
.login a:hover{
    color: #fff;
}
.login:hover{
    background-color: rgb(252, 38, 38);
    border-color: rgb(252, 38, 38);
}
.sign{
   margin-right: 10px; 
   background-color: rgb(252, 38, 38);
   border-color: rgb(252, 38, 38);
}
.sign a{
    color:#fff;
}
.sign a:hover{
    color:  rgb(252, 38, 38);
}
.sign:hover{
    background-color: #fff;
    border-color: #fff;
}
.Foodie{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Foodie h1{
    font-family:  'Coiny', cursive;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
}
.carousel-item img{
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.order-btn{
    text-align: center;
    justify-content: center;
}
.order{
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 10px 30px;
    line-height: 43px;
    background: #fff;
    margin: 0px 10px;
    transition: 0.2s linear;
}
.order a{
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(252, 38, 38);
    transition: 0.2s linear;
}
.order:hover{
    background-color: rgb(252, 38, 38);
    border-color: rgb(252, 38, 38);
}
.order a:hover{
    color: #fff; 
}
.Menu{
    background-color: rgb(252, 38, 38);
    border-color: rgb(252, 38, 38);
}
.Menu a{
    color:#fff;
}
.Menu a:hover{
    color:  rgb(252, 38, 38);
}
.Menu:hover{
    background-color: #fff;
    border-color: #fff;
}
.categories{
    max-width: 100wh;
    /* height: 100vh; */
    background-color:cornsilk;
}
.categories h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 1px 3px rgb(73, 73, 214);
}
.all_cate{
    padding-top: 5px;
    padding-bottom: 50px;
}
.Our{
   color: rgb(247, 16, 16); 
}
.cateimg{
    max-width: 100%;
    border: 1px solid #efefef;
    border-radius: 10px;
    background-color: #efefef;
    transition: all 0.3s linear;
}
.cateimg  img{
    width: 100%;
    height:  170px; 
    border-radius: 10px;
    transition: all 0.3s linear;
}
.cateimg  img:hover{
    transform: scale(1.2);
}
.cateimg h3{
    padding: 5px 10px 0px 10px;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(6, 6, 80);
    font-family:  'Josefin Sans', sans-serif;
}
.cateimg p{
    font-size: 16px;
    padding: 0px 15px 0px 10px;
    color: rgb(100, 61, 53);
    font-family: 'Josefin Sans', sans-serif;
}
.cateimg:hover{
    background-color: rgb(253, 238, 149);
}
.pizza{
    max-width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #efefef;
    transition: all 0.3s linear;
}
.pizza img{
    width: 100%;
    height: 270px; 
    border-radius: 10px;
    transition: all 0.3s linear;
    z-index: 999;
}
.pizza  img:hover{
    transform: scale(1.1);
}
.pizza h3{
    padding: 5px 10px 0px 10px;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgb(6, 6, 80);
    font-family: 'Josefin Sans', sans-serif;
}
.pizza p{
    font-size: 16px;
    padding: 0px 15px 0px 10px;
    color: rgb(100, 61, 53);
    font-family: 'Josefin Sans', sans-serif;
}
.pizza:hover{
    background-color: rgb(253, 238, 149);
}
.MostPopular{
    max-width: 100wh;
    /* height: 100vh; */
    margin-bottom: 0px;
    background-color:cornsilk;
}
.MostPopular h2{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 1px 3px rgb(73, 73, 214);
}
.burder-card{
    border: 4px solid #efefef;
    max-width: 100%;
    border-radius: 10px;
    background-color: #efefef;
}
.img-text img{
    width: 100%; 
    height: 230px;
    position: relative;
    border-radius: 6px 6px 0px 0px;
}
.foods-card img{
    width: 100%; 
    height: 200px;
}
.img-text h4{
    margin: 5px 10px;
    z-index: 1;
    position: absolute;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 5px 8px;
    letter-spacing: 1.5px;
    border-radius: 8px;
    background-color: rgb(180, 5, 5);
}
.Burger{
    text-align: center;
}
.Burger h3{
    font-size: 22px;
    font-weight: 600;
    color: blue;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
    letter-spacing: 1px;
    margin-bottom: 0%;
}
.Burger .star{
    font-size: 18px;
    word-spacing: 5px;
    color: rgb(180, 5, 5);
}
.order-popular{
    padding: 0px 10px;
    margin: 6px auto;
    border: 2px solid rgb(252, 38, 38);
    max-width: 150px;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: rgb(252, 38, 38);
    transition: all 0.2s ease-in-out;
}
.order-popular a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}  
.order-popular:hover{
    border-color: #fff;
    background-color: #fff;
} 
.order-popular a:hover{
    color: rgb(252, 38, 38);
}
.staff{
    width: 100%;
    height: 485px;
    background-image: url('https://images.pexels.com/photos/3762075/pexels-photo-3762075.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

}
.testi{
    color: #fff;
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 3px 10px rgb(24, 22, 22);
    letter-spacing: 2px;
}
.content{
    margin-top: 50px;
    border: 3px solid rgb(5, 146, 254);
    width: 70%;
    margin: 0 auto;
    padding: 20px 70px;
    background-color: white;
    text-align: center;
    opacity: 0.6;
}
.content p{
    font-size: 20px;
    color: black;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1.5px;
    line-height: 10px;
    font-weight: 600;
}
.content h3{
    font-size: 32px;
    color: #000;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}
#quote{
    font-size: 25px;
    color: blueviolet;
    padding: 20px;
}
.order-file{
    max-width: 100wh;
    /* height: 100vh; */
    transition: 0.2ms linear;
}
.orderfit{
    margin-top: 25px;
    margin-bottom: 120px;
}
.allOrder{
    text-align: center;
    padding: 40px 0 20px 0;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 1px 3px rgb(73, 73, 214);
}
.now{
    color: rgb(247, 16, 16); 
}
.ordercolor{
    width: 100%;
    border-radius: 10px;
    background-color: #efefef;
}
.pexel{
    padding: 40px 15px;
}
.delivery-img img{
    border-radius: 5px;
}
.name{
    width: 48%;
    font-size: 20px;
    text-indent: 18px;
    line-height: 35px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
#name{
    margin-right: 19px;
}
#phoneNo{
    margin-right: 19px;
}
#address{
    width: 100%;
    font-size: 20px;
    text-indent: 18px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.name:is(:focus, :valid){
    border-color: #0b45e3;
    border: 1px solid #0b45e3;
    box-shadow: 1px 1px 4px #0b45e3;
}
.textari:is(:focus, :valid){
    border-color: #0b45e3;
    border: 1px solid #0b45e3;
    box-shadow: 1px 1px 4px #0b45e3;
}
.mainOrder{
    border: 2px solid rgb(247, 16, 16);
    margin: 0 auto;
    background-color: rgb(247, 16, 16);
    padding: 5px 10px;
    border-radius: 20px;
    width: 12rem;
    text-align: center;
    transition: 0.2s linear;
    box-shadow: 1px 1px 7px #000;
}
.mainOrder:hover{
    border-color: #fff;
    background-color: #fff;
}
.mainOrder a{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s linear;
}
.mainOrder a:hover{
    color: rgb(247, 16, 16);
}
.footer{
    max-width: 100%;
    padding: 50px 0px;
    background-color: rgb(34, 14, 14);
    cursor: pointer;
    position: relative;
}
.menu-head{
    color: rgb(247, 16, 16);
    font-size: 30px;
    font-family:  'Raleway',sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
    padding-bottom: 26px;
}
.Loction h5{
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family:  'Raleway',sans-serif;
}
.fb-icon {
    display: flex;
    color: #fff;
}
.fb-icon i{
    font-size: 21px;
    padding: 7px 8px;
    border-radius: 50%;
    border: 1px solid rgb(245, 238, 238);
    margin-right: 15px;
    margin-bottom: 20px;
    font-weight: 400;
    color: rgb(247, 16, 16);
    background-color: rgb(245, 238, 238);
}
.fb-icon h4{
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.7px;
    color: #fff;
    padding: 8px 1px;
    font-family:  'Raleway',sans-serif;
}
.Order-mail{
    margin-bottom: 30px;
}
.Order-mail a{
    border-radius: 10px;
    font-size: 16px;
    padding: 7px 27px;
    font-family:  'Raleway',sans-serif;
    background-color: rgb(245, 238, 238);
    border: 1px solid rgb(245, 238, 238);
}
.send-btn a{
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 25px;
    color: #fff;
    font-weight: 500;
    font-family:  'Raleway',sans-serif;
    background-color: rgb(247, 16, 16);
    border: 1px solid rgb(247, 16, 16); 
    transition: 0.3s linear;
}
.Contact-Us h5{
    color: #fff;
    font-size: 21px;
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family:  'Raleway',sans-serif;
}
.send-btn a:hover{
    color: rgb(247, 16, 16);
    background-color: #fff;
    border: 1px solid #fff;
}
.phoneNo{
    padding-left: 15px;
}
.desgin p{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 1px;
    font-family:  'Raleway',sans-serif;
    max-width: 100%;
    line-height: 80px;
    background-color: rgb(20, 15, 39);
}
.ashif{
    color: rgb(247, 16, 16); 
}
@media only screen and (max-width: 767px){ 
    .topmenu{
        width: 100%;
        padding: 5px 16px 10px 16px;
    }
    .carousel-item{
        object-fit: cover;
    }
    .image1 img{
        width: 120px; 
        height: 25px;
    }
    .login{
        padding: 0px 6px 7px 6px;
        line-height: 0px;
        margin: 0px 3px;
    }
    .login a{
        letter-spacing: 0.2px;
        font-size: 9px;
        font-weight: 500;
    }
    .sign{
        margin-right: 6px; 
     }
     .Foodie h1{
        font-size: 27px;
        font-weight: 700;
    }
    .order{
        padding: 0px 12px 4px 12px;
        line-height: 40px;
        margin: 0px 5px;
    }
    .order a{
        font-size: 14px;
        font-weight: 400;
    }
    .categories h2{
        padding: 14px;
        font-size: 27px;
    }
    .cateimg  img{
        max-width: 100%;
        height: 160px; 
        object-fit: cover;
    }
    .cateimg h3{
        padding: 10px 0 0 15px;
        font-size: 18px;
    }
    .cateimg p{
        font-size: 13px;
        padding: 0px 15px 5px 15px;
    }
    .card_box{
        margin-bottom: 25px;
    }
    .pizza img{
        max-width: 100%;
        height: 180px; 
        object-fit: cover; 
    }
    .pizza h3{
        padding: 10px 0 0 15px;
        font-size: 18px;
    }
    .pizza p{
        font-size: 13px;
        padding: 0px 15px 5px 15px;
    }
    .MostPopular h2{
        padding: 14px;
        font-size: 27px;
    }
    .img-text img{
        max-width: 100%;
        height: 180px; 
        object-fit: cover; 
    }
    .most_card{
        margin-bottom: 25px;
    }
    .img-text h4{
        font-size: 14px;
    }
    .Burger h3{
        font-size: 18px;
    }  
    .Burger .star{
        font-size: 12px;
    }   
    .order-popular{
        padding: 0px 10px 4px 10px;
        max-width: 110px;
    }
    .order-popular a{
        font-size: 15px;
    } 
    .testi{
        font-size: 27px;
    }   
    .content{
        margin-top: 30px;
        width: 80%;
        padding: 18px;
    }
    .content p{
        font-size: 13px;
        line-height: 20px;
        font-weight: 600;
    }
    .content h3{
        font-size: 23px;
    }
    #quote{
        font-size: 15px;
        padding: 8px;
    }
    .allOrder{
        font-size: 27px;
    } 
    .delivery-img img{
        max-width: 100%;
        max-height: 265px;
        margin-bottom: 27px; 
    }
    .name{
        width: 45.5%;
        font-size: 16px;
        text-indent: 13px;
    }
    #address{
        font-size: 16px;
        text-indent: 13px;
        min-height: 130px;
    }
    .mainOrder{
        width: 8rem;
    }
    .mainOrder a{
        font-size: 18px;
    }
    .footer{
        padding: 32px 0px;
    }
    .menu-head{
        font-size: 26px;
        padding-bottom: 5px;
    }   
    .Loction h5{
        font-size: 16px;
        margin-bottom: -1px;
    } 
    .fb-icon i{
        font-size: 17px;
        padding: 6px 7px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .fb-icon h4{
        font-size: 16px;
        padding: 7px 1px;
    }
    .Order-mail{
        margin-bottom: 24px;
    }
    .Order-mail a{
        font-size: 12px;
        padding: 5px 20px;
    }
    .send-btn a{
        font-size: 13px;
        padding: 5px 20px;
    }    
    .Contact-Us h5{
        font-size: 16px;
        margin-top: 16px;
    }
    .desgin p{
        font-size: 15px;
        line-height: 35px;
    }
    .footer-item{
        margin-left: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .carousel-item{
        object-fit: cover;
    }
    .image1 img{
        width: 130px; 
        height: 38px;
    }
    .Foodie h1{
        font-size: 58px;
        font-weight: 700;
    }
    .order{
        padding: 4px 16px 6px 16px;
        line-height: 35px;
        margin: 0px 6px;
    }
    .order a{
        font-size: 16px;
        font-weight: 400;
    }
    .categories h2{
        padding: 14px;
        font-size: 32px;
    }
    .cateimg  img{
        max-width: 100%;
        height: 160px; 
        object-fit: cover;
    }
    .cateimg h3{
        padding: 10px 0 0 10px;
        font-size: 18px;
    }
    .cateimg p{
        font-size: 14px;
    }
    .card_box{
        margin-bottom: 25px;
    }
    .pizza img{
        max-width: 100%;
        height: 170px; 
        object-fit: cover; 
    }
    .pizza h3{
        padding: 10px 0 0 10px;
        font-size: 20px;
    }
    .pizza p{
        font-size: 14px;
    }
    .MostPopular h2{
        padding: 14px;
        font-size: 32px;
    }
    .foods-card img{
        max-width: 100%;
        height: 150px; 
        object-fit: cover; 
    }
    .img-text img{
        max-width: 100%;
        height: 165px; 
        object-fit: cover; 
    }
    .img-text h4{
        font-size: 14px;
    }
    .Burger h3{
        font-size: 18px;
    }  
    .Burger .star{
        font-size: 12px;
    }
    .order-popular{
        padding: 0px 8px 4px 8px;
        max-width: 110px;
    }
    .order-popular a{
        font-size: 15px;
    }
    .testi{
        font-size: 32px;
    }  
    .content{
        margin-top: 30px;
        width: 80%;
        padding: 20px;
    }
    .content p{
        font-size: 14px;
        line-height: 27px;
        font-weight: 600;
    }
    .content h3{
        font-size: 25px;
    }
    #quote{
        font-size: 15px;
        padding: 8px;
    } 
    .allOrder{
        font-size: 32px;
    } 
    .delivery-img img{
        max-width: 100%;
        max-height: 410px;
    }
    .name{
        width: 46%;
        font-size: 16px;
        text-indent: 13px;
    }
    #address{
        font-size: 16px;
        text-indent: 13px;
        min-height: 170px;
    }
    .mainOrder{
        width: 10rem;
    }
    .mainOrder a{
        font-size: 19px;
    }
    .footer{
        padding: 32px 0px;
    }
    .menu-head{
        font-size: 26px;
        padding-bottom: 5px;
    }   
    .Loction h5{
        font-size: 15px;
        margin-bottom: 2px;
    } 
    .fb-icon i{
        font-size: 17px;
        padding: 6px 7px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .fb-icon h4{
        font-size: 16px;
        padding: 7px 1px;
    }
    .Order-mail{
        margin-bottom: 24px;
    }
    .Order-mail a{
        font-size: 12px;
        padding: 5px 20px;
    }
    .send-btn a{
        font-size: 13px;
        padding: 5px 20px;
    }    
    .Contact-Us h5{
        font-size: 16px;
        margin-top: 16px;
    }
    .desgin p{
        font-size: 18px;
        line-height: 50px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .Foodie h1{
        font-size: 60px;
        font-weight: 700;
    }
    .order{
        padding: 4px 16px 6px 16px;
        line-height: 35px;
        margin: 0px 6px;
    }
    .order a{
        font-size: 16px;
        font-weight: 400;
    }
    .content p{
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
    }
    .name{
        width: 47%;
        font-size: 16px;
        text-indent: 13px;
    }
    #address{
        font-size: 16px;
        text-indent: 13px;
        min-height: 190px;
    }
}
@media only screen and (min-width: 1198px) and (max-width: 1400px){
    .name{
        width: 46%;
        font-size: 16px;
        text-indent: 13px;
    }
    #address{
        font-size: 16px;
        text-indent: 13px;
        min-height: 210px;
    }
}
